html
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(ng-controller='DataController')
      table#datatable
        th {{GPSLabel}}
        td {{GPSData}}
        th {{TemperatureLabel}}
        td {{TemperatureData}} °C
        th {{LightLabel}}
        td {{LightData}} %